{% extends 'index1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-hover">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>&nbsp;</th>
    </tr>

    {% for i in val %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>{{ i['Name'] }}</td>
      <td>&nbsp;{{ i['Place'] }}</td>
      <td>&nbsp;{{ i['email'] }}</td>
      <td>&nbsp;{{ i['Phone'] }}</td>

      <td><p><a href="accepto?id={{i['lid']}}">Accept</a></p>
      <p><a href="rejecto?id={{i['lid']}}">Reject</a></p></td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
{% endblock %}

